.overlayContainer .sapMInput {
  pointer-events: none; /* Deaktiviert direkte Interaktion mit dem Input */
}

.overlayContainer .sapMInputWrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Komplett transparent */
  z-index: 1;
  cursor: default; /* Zeigt an, dass kein direkter Fokus möglich ist */
}
